<% provide(:title, 'All users') %>
<h1>All Students List</h1>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <% if user.student? %>
      <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %> <br>
          <% case current_user.role  %>
            <% when 'admin' %>
              <p>
                <%= link_to "Edit",edit_user_path(user) %> |
                <%= link_to "delete", user, method: :delete,
                            data: { confirm: "You sure?" } %>
              </p>
            <% when 'pm' %>
              <p>
                <%= link_to "Edit",edit_user_path(user) %> 
              </p>
          <% end %>
        
      </li>
    <% end %>
  <% end %>
<%= will_paginate %>
</ul>