<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-10">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p><%= @user.email %> | <%= @user.role %></p>
      <hr>
      
        <% case current_user.role %>
          <% when 'admin' %>
            <p><%= link_to 'View All Students', users_path %>  | Register New Student | View LCs | Register New LC | View PMs</p>
          <% when 'pm' %>
            <p> View All Students | Register New Student | View LC | Register New LC | </p>
          <% when 'lc' %>
            <p> <%= link_to 'View All Students', users_path %> | <%= link_to "Edit Profile", edit_user_path(current_user) %> </p>
          <% end %>
       
        <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
     
    </section>
  </aside>
</div>