<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-10">
    <section class="user_info">
      <h3>
        <%= @user.name %><br/>

            <%= @user.email %> | <%= @user.role %>
      </h3>
  
  <div class="img">
     <%= image_tag(@user.images, :align=> "middle") %>
 <div class="desc"><%= @user.name %><br/> <%= @user.email %> | <%= @user.role %> </div>
</div>
  
  
  
  
  
  
  
  
      
        <% case current_user.role %>
          <% when 'admin' %>
            <p>
              <%= link_to 'Students', students_path %> <br/>
              <%= link_to 'Programs', new_user_path %> <br/>
              <%= link_to 'Learning Coaches', students_path %><br/>
              <%= link_to 'Program Managers', new_user_path %> | </p>
          <% when 'pm' %>
            <p> 
               | wait in process
              
          <% when 'lc' %>
            <p> <%= link_to 'View All Students', users_path %> | <%= link_to "Edit Profile", edit_user_path(current_user) %> </p>
        <% end %>
       
        
     
    </section>
  </aside>
</div>